In [1]:
# Importing the required library
import sqlite3

In [2]:
# Creating or Connecting to the existing database
db = sqlite3.connect('test.db')

In [ ]:
# Creating a table in a Database
cursor = db.cursor()
cursor.execute('''CREATE TABLE users(id INTEGER PRIMARY KEY,name TEXT,
                phone TEXT,email TEXT unique,password TEXT)''')
db.commit()

In [10]:
# Deleting a table in a database
cursor=db.cursor()
cursor.execute('''DROP TABLE users''')
db.commit()

In [11]:
# Creating the table again
cursor.execute('''CREATE TABLE users(id INTEGER PRIMARY KEY,name TEXT,
                phone TEXT,email TEXT unique,password TEXT)''')
db.commit()

In [12]:
# Inserting an elements into the database
cursor=db.cursor()
name1='Jeevan'
phone1='64873866'
email1='jeevan.thomaskoshy@gmail.com'
password1 = '123456'

name2='Alex'
phone2='476238728'
email2='alex@gmail.com'
password2='qwerty'

# Inserting the first User
cursor.execute('''INSERT INTO users(name,phone,email,password) 
                VALUES(?,?,?,?)''',(name1,phone1,email1,password1))
print("First User Inserted")

# Insert the Second User
cursor.execute('''INSERT INTO users(name,phone,email,password) 
                VALUES(?,?,?,?)''',(name2,phone2,email2,password2))
print("Second User Inserted")
# Another possible way to insert is via using a dictionary

First User Inserted
Second User Inserted

In [13]:
# Obtaining the id of the last row that was inserted into the database
id = cursor.lastrowid
print('Last row id: %d' % id)

Last row id: 2

In [20]:
# Retrieving Data 
cursor.execute('''SELECT name,email,phone FROM USERS''')
user1=cursor.fetchone()
print(user1[0])
all_rows = cursor.fetchall()
# for row in all_rows:
#     print('{0} : {1} : {2}'.format(k[0],k[1].k[2]))

Jeevan

AttributeError: 'unicode' object has no attribute 'k'

In [23]:
cursor.execute('''SELECT name, email, phone FROM users''')
for row in cursor:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

Jeevan : jeevan.thomaskoshy@gmail.com, 64873866
Alex : alex@gmail.com, 476238728

In [26]:
user_id = 2
cursor.execute('''SELECT name, email, phone FROM users WHERE id=?''', (user_id,))
user = cursor.fetchone()

In [27]:
user

(u'Alex', u'alex@gmail.com', u'476238728')

In [28]:
newphone = '3113093164'
userid = 1
cursor.execute('''UPDATE users SET phone = ? WHERE id = ? ''',(newphone, userid))

In [29]:
delete_userid = 2
cursor.execute('''DELETE FROM users WHERE id = ? ''', (delete_userid,))
 
db.commit()